* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#body-items {
    color: #000;
}

body {
    font-size: 18px;
}

.body-content-title {
    font-size: 32px;
    color: orange;
    font-weight: 800;
}

.body-content-text {
    color: #15171a;
}

.decription li {
    color: #15171a;
    list-style: circle;
}

.btn-dat .btn {
    width: 250px;
    height: 40px;
    background-color: orange;
    color: white;
}

.btn-dat:hover .btn {
    opacity: 0.8;
    background-color: orange;
}

.body-a-title {
    display: block;
    color: white;
}

.body-a-title:hover {
    color: white;
}

.body-content-items img {
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.body-content-header-title .title-hottrend {
    color: orange;
}