@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);
@font-face {
    font-family: 'Beyond';
    src: url(../font/beyond_the_mountains.otf) format('truetype'), url(../font/beyond_the_mountains.ttf) format('opentype')
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background: #fff;
    color: white;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.test {
    background-color: orange;
}

